<mat-toolbar class="navbar" [class.collapsed]="sidebarCollapsed">
  <button mat-icon-button (click)="menuToggle.emit()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="notifMenu" matBadge="3" matBadgeColor="warn" matBadgeSize="small" matTooltip="Notifications">
    <mat-icon>notifications_none</mat-icon>
  </button>
  <mat-menu #notifMenu="matMenu" class="notification-menu">
    <div class="notification-header">Notifications</div>
    <button mat-menu-item>
      <mat-icon color="warn">warning</mat-icon>
      <span>Alerte capteur</span>
    </button>
  </mat-menu>

  <div class="user-trigger" [matMenuTriggerFor]="userMenu">
    <div class="user-avatar">{{ userInitials }}</div>
    <div class="user-details">
      <span class="user-name">{{ userName }}</span>
      <span class="user-role">{{ userRole }}</span>
    </div>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
  </div>
  <mat-menu #userMenu="matMenu" class="user-menu">
    <div class="menu-user-info">
      <div class="menu-avatar">{{ userInitials }}</div>
      <div class="menu-details">
        <strong>{{ userName }}</strong>
        <small>{{ userEmail }}</small>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/users/profile">
      <mat-icon>person</mat-icon>
      <span>Mon profil</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogout()" class="logout-item">
      <mat-icon>logout</mat-icon>
      <span>Deconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>
